.collapse-header{
    position: relative;
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #25324B;
    margin-bottom: 20px;
    cursor: pointer;
}
.collapse-icon{
    position: absolute;
    right: 0;
    top: 0;
}
.collapse-children{
    margin-bottom: 20px;
}